* {
  font-family: 'Karla', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #C4DEC3;
  line-height: 23pt;
}

/*nav bars*/
.nav-bar-options {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  list-style-type: none;
  margin: 30px 80px 0px 0px;
}

.option {
  border: none;
  outline: none;
  padding: 10px 20px 0px 0px;
  background-color: transparent;
  color: #FFF;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
}

.active {
  text-decoration: underline;
  cursor: default;
}


/*header*/
.header {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   text-align: center;
}

.logoGif {
  height: 80px;
  position: absolute;
  top: 8px;
  left: 16px;
}


/*footer*/
.fa {
  text-decoration: none;
  color: white;
}

.fa:hover {
  color: #292B2C;
}

.footer {
  background-color: #C76BA4;
  color: #FFF;
  padding: 20px;
  
}

.socialMedia {
  font-size: 30px;
  word-spacing: 30px;
  margin-left: 30px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #FFF;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  font-size: 40px;
}

#myBtn:hover {
  color: #292B2C;
}




/*das*/
.dasIntro{
  position: relative;
  text-align: center;
  color: #FFF;
  font-weight: bold;
}

.bottomArrow{
  position: absolute;
  font-size: 25px;
  bottom: 10px;
  left: 50%;
  cursor: pointer;
}

.dasIntroImage {
  width: 100%;
  height: auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
}

.workTitle {
  font-size: 50px;
  text-transform: uppercase;
}

.workDescription {
  font-size: 25px;
}

.dasAbout {
  text-align: center;
  padding: 100px 400px 100px 400px;
  color: #292B2C;
  background-color: #FFF;
}

.dasRoles {
  font-size: 20px;
  color: #A8A8A8;
}

.workText{
  text-align: center;
  padding: 0px 250px 70px 250px;
  color: #292B2C;
}

.label{
  font-size: 50px;
  margin-top: 50px;
}

.information{
  font-size: 20px;
}

.graphics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.graphic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 100px;
}


.workGraphic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
